

.loginpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url('../../../assets/images/backgrounds/homepage.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 1rem;
   font-family: 'Press Start 2P', cursive;
 
}

.head, .foot {
  width: 100%;
}

/* MAIN CONTAINER */
.login-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

/* FORM BOX */
.login-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2.7rem 3.5rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  max-width: 650px;
  width: 100%;
  color: white;
  margin: auto; 
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

/* FORM ELEMENTS */
.form-group {
  margin-bottom: 1.3rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  color: #fff;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 12px;
  border: 2px solid ;
  outline: none;
}

input:focus {
  border-color: red;
}

/* ERROR MESSAGES */
.error, .error-msg {
  color: #ff4444;
  font-size: 0.70rem;
  margin-top: 0.2rem;
}

/* SUBMIT BUTTON */
.mario-btn {
  background-color: #e01818;
  border: none;
  border-radius: 16px;
  padding: 0.8rem 2.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px #b91414;
  font-family: 'Press Start 2P', cursive;
 
}

.mario-btn:hover {
  background-color: #c01616;
  transform: scale(1.05);
}

 .foot {
    flex-direction: column;
    align-items: flex-end;
  }
/* MOBILE STYLING */
@media (max-width: 480px) {
  .login-container {
    padding: 1rem 0.5rem;
  }

  .login-box {
    padding: 1.2rem;
  }

  .title {
    font-size: 1rem;
  }

  label {
    font-size: 0.6rem;
  }

  input {
    font-size: 0.65rem;
    padding: 0.6rem;
  }

 .mario-btn {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .error, .error-msg {
    font-size: 0.6rem;
  }

  .head {
    flex-direction: column;
    align-items: flex-start;
  }
   .foot {
    flex-direction: column;
    align-items: flex-end;
  }
}
