<div class="loginpage">


    <div class='head'>
        <app-header></app-header>
    </div>

    <div class="login-container">
        <div class="login-box">
            <h2 class="title">Register </h2>


            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input id="username" type="text" formControlName="username" />
                    <div *ngIf="registerForm.controls.username.invalid && registerForm.controls.username.touched"
                        class="error">
                        UserName is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" formControlName="email" />
                    <div *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched"
                        class="error">
                        Valid email is required.
                    </div>
                </div>


                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" formControlName="password" />
                    <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched"
                        class="error">
                        Password (min 6 characters) is required.
                    </div>
                </div>


                <button class="mario-btn" type="submit" [disabled]="registerForm.invalid">Register</button>
            </form>

            <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>
        </div>
    </div>





    <div class="foot">
        <app-footer></app-footer>
    </div>

</div>