<div class="instructionpage">

    <div class='head'>
        <app-header></app-header>
    </div>
    <div class="instructions">
        <h2>How to Play</h2>
        <ul>
            <li>🎮 Select a level to begin the game.</li>
            <li>🃏 Click on cards to flip and match pairs.</li>
            <li>⏱️ Complete the level before time runs out.</li>
            <li>⭐ Earn stars based on how quickly you complete it.</li>
            <li>🔓 Unlock higher levels by earning stars.</li>
        </ul>

    </div>
      
    <div class="foot">
        <app-footer></app-footer>
    </div>

</div>